@media screen and (max-width: 440px) {

    .left-section {
        display: none;
    }

    header {
        justify-content: center;
    }

    .best-movies-category h2, h1{
        text-align: center;
    }

    .top-section {
        margin-bottom: 20px;
    }

    .best-movies-category-pictures {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }


    #content-movie {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        
      }

    #content-movie ul {
        padding-left: 0px;
        overflow: auto;
    }

    #content-movie img {
        width: 150px;
        margin-top: 20px;
        padding-left: 75px;
      }
    
    #modal-content {
        height: auto;
        overflow-wrap: break-word;
    }

}

@media screen and (max-width: 890px) {


    .best-movies-category-pictures img {
        max-width: 100px;
    }

    .best-movies-category-pictures {
        padding-bottom: 23px;
        padding-top: 23px;
        padding-left: 23px;
        padding-right: 23px;
        overflow-x: scroll;
        
        height: auto;
        z-index: 1;
    }

    #content-movie ul {
        padding-left: 20px;
        overflow: auto;
    }

}