@media screen and (max-width: 390px) {

    .left-section {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .best-movies-sci-fi img, .best-movies-thriller img, .best-movies-drama img {
        max-width: auto;
    }
}

@media screen and (max-width: 890px) {
  
    .best-movies-sci-fi img, .best-movies-thriller img, .best-movies-drama img {
        max-width: 100px;
    }

    .best-movies-category-pic {
        padding-bottom: 23px;
        padding-top: 23px;
        overflow-x: scroll;
        overscroll-behavior-inline: contain;
        height: auto;
        z-index: 1;
    }



}